.advantages {
  color: black;
}

.advantages__text {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.advantages__list {
  text-decoration: none;
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
  text-align: center;
}

.advantages__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.advantages__img-phone {
  width: 157px;
  height: 320px;
  margin: 20px 80px;
}
