.catalog {
  color: #000000;
  background-color: #ffffff;
}

.catalog__author {
  margin: 0;
  padding-top: 25px;

  &--name {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 6px;
  }

  &--time-post {
    font-size: 12px;
    line-height: 24px;
    color: #a7abae;
    text-transform: uppercase;
  }
}

.catalog__title {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.catalog__tape {
  background-color: #f2f2f2;
  margin-bottom: 20px;
}

.catalog__tape--panorama {
  background-color: #ffffff;
  margin-bottom: 40px;

  &::before {
    display: block;
    content: "Панорама дня";
    width: 140px;
    color: #ffffff;
    font-size: 12px;
    line-height: 24px;
    font-weight: bold;
    background-color: #d32958;
    padding: 6px 0;
    text-align: center;
    position: absolute;
    right: 20px;
    text-transform: uppercase;
  }
}

.catalog__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f2f2f2;
}

.catalog__author--info {
  order: 1;
}

.catalog__like-wrapper--info {
  order: 2;
  margin-right: 25px;
}

.catalog__text--info {
  order: 3;
}

.catalog__review {
  margin: 0;
}

.catalog__text {
  font-size: 14px;
  line-height: 24px;
  padding: 0 20px;
  margin: 0;
  margin-bottom: 20px;
}

.catalog__like {
  font-size: 12px;
  line-height: 24px;
  color: #d32958;
  text-transform: uppercase;
  margin: 0;
  padding: 0 20px;
}

.catalog__list {
  padding: 0;
  margin: 0;
}

.catalog__like-wrapper {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-bottom: 20px;
}

.catalog__review-image {
  width: 100%;
  height: auto;

  &--panorama {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
  }
}

.post__photo-image {
  width: 100%;
  height: auto;
}

@media (min-width: @tablet-width) {
  .catalog__title {
    width: 440px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .catalog__tape {
    width: 300px;
  }

  .catalog__list {
    padding: 0;
    margin: 0;
  }

  .catalog__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .catalog__like-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 0;
  }

  .catalog__info-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 156px;
  }

  .catalog__tape--panorama {
    width: auto;
  }
}

@media (min-width: @desktop-width) {

  .catalog__title {
    font-size: 18px;
  }

  .catalog__tape--panorama::before {
    right: 130px;
  }
}
