.download-app {
  background-color: #1d2631;
  padding: 20px;
}

.download-app__toggle {
  padding: 10px 20px;
  width: 280px;
  color: snow;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  border-radius: 50px;
  border: 3px solid #ffffff;
  background-color: #1d2631;
}

.download-app__text {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .download-app {
    width: 300px;
    padding-right: 0;
    background-color: transparent;

    position: absolute;
    top: 820px;
    z-index: 10;
  }
  .download-app__toggle {
    width: 300px;
    background-color: transparent;
  }
  .download-app__text {
width: 240px;
  }
}

@media (min-width: @desktop-width) {
  .download-app__toggle {
    font-size: 21px;
    line-height: 18px;
  }
  .download-app__text {
    font-size: 18px;
  }
}
