.effection-block {
  display: none;
}

@media (min-width: @tablet-width) {
  .effection-block {
    display: block;
    padding: 20px;
    padding-top: 60px;
  }

  .effection-block__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .effection-block__image {
margin: 0;
    background-image: url("../img/icon-timer.svg");
    background-size: 240px 276px;
    width: 240px;
    height: 276px;
    position: relative;
  }

  .effection-block__image::before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "24";
    text-align: center;
    color: #d22856;
    font-weight: bold;
    font-size: 96px;
    line-height: 149px;
    width: 174px;
    height: 174px;
    border: 14px solid #d22856;
    border-radius: 50%;
    margin: 0;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .effection-block__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 22px;
  }

  .effection-block__text {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    margin: 0;
    margin-bottom: 15px;
  }

  .effection-block__info {
    font-size: 14px;
    line-height: 24px;
    color: #d22856;
    text-decoration-line: underline;
  }

  .effection-block__wrap {
    width: 310px;
  }
}

@media (min-width: @desktop-width) {
  .effection-block__title {
    line-height: 30px;
    margin-bottom: 35px;
  }

  .effection-block__text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
  }

  .effection-block {
    background-color: #f2f2f2;
    padding: 0;
    padding-bottom: 86px;
  }

  .effection-block__wrapper {
    justify-content: flex-start;
  }

  .effection-block__wrap {
    padding-left: 100px;
    width: 510px;
  }

  .effection-block br {
    display: none;
  }

  .effection-block__image {
    background-size: 300px 350px;
    width: 300px;
    height: 350px;
  }

  .effection-block__image::before {
    font-size: 120px;
    line-height: 186px;
    width: 220px;
    height: 220px;
    bottom: 25px;
    right: 25px;
    border: 17px solid #d22856;
  }
}
