.form-contest {
  width: auto;
  padding: 0 20px;
  margin: 0;

  fieldset {
    border: 0 none;
  }
}

.form-contest__title--contact {
  display: none;
}

.form-contest__area-name {
  margin-bottom: 26px;
}

.form-contest__info {
  margin-bottom: 26px;
}

.form-contest__label {
  color: #d53561;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &--checkbox {
    margin-left: 70px;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-transform: none;
  }

  &--tel {
    color: #d53561;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &--radio {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-transform: none;
  }
}

.form-contest__input {
  width: 238px;
  padding: 23px 20px;
  border: 1px solid #e5e5e5;

  &--checkbox {
    position: absolute;
    left: -10000px;
  }
&:hover {
  border-color: #000000;
}
&:focus {
  border-color: #d22856;
}
  &--checkbox::before {
    display: block;
    content: "";
    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-size: 22px 16px;
    width: 22px;
    height: 16px;
    position: absolute;
    left: 10100px;
    border: 1px solid #e5e5e5;
  }

  &--tel {
    width: 238px;
    padding: 23px 20px;
    border: 1px solid #e5e5e5;
  }

  &--radio {
    width: 38px;
    height: 38px;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    margin-right: 31px;
  }
}

.form-contest__advantages {
  padding-left: 0;
  background-color: #f2f2f2;
}

.form-contest__wrapper {
  padding: 42px 20px;
}

.form-contest__title {
  color: #d22856;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-bottom: 40px;
  text-align: center;

  &--emotion {
    padding-bottom: 20px;
    padding-top: 40px;
    color: #d22856;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
  }
}

.form-contest__operation {
  margin-bottom: 35px;
}

.form-contest__systems {
  background-color: #f2f2f2;
}

.form-contest__list {
  margin-bottom: 43px;
}

.form-contest__textarea {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  width: 238px;
  border: 1px solid #e5e5e5;
  margin: 0;
  padding: 20px;
}

.form-contest__toggle {
  padding: 10px 20px;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #2aab6d;
  width: 280px;
  text-align: center;
  border: none;
  &:hover {
    background-color: #1c9b5e;
  }
  &:active {
    background-color: #1c9b5e;
    color: rgba(255,255,255,0.3);
  }
  &:disabled {
background-color: #e5e5e5;
  }
}

.form-contest__field {
  font-size: 14px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.form-contest__adress {
  padding: 0;
  margin: 0;
}

.form-contest__background {
  margin-left: -20px;
  margin-right: -20px;
}

.form-contest__general {
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .form-contest {
    padding: 20px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    fieldset {
      background-color: #ffffff;
      border: 1px solid #e5e5e5;
    }
  }

  .form-contest__area-name {
    display: flex;
  }

  .form-contest__input {
    width: 485px;

    &--checkbox {
      width: 38px;
    }

    &--tel {
      width: 458px;
    }

    &--radio {
      width: 38px;
    }

    &--name {
      width: 100%;
    }
  }

  .form-contest__label {
    padding-right: 20px;

    &--tel {
      padding: 0;
      margin-top: 18px;
      margin-bottom: 15px;
    }

  }


  .form-contest__wrapper {
    padding: 0;
  }

  .form-contest__info {
    display: flex;
    flex-direction: column-reverse;
  }

  .form-contest__textarea {
    padding: 20px;
    width: 100%;
    height: 148px;
  }

  .form-contest__description {
    margin-right: 40px;
  }

  .form-contest__text {
    order: 1;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .form-contest__systems {
    margin: 0;
    order: 2;
    padding: 55px 60px;
    width: 100%;
  }

  .form-contest__adress {
    order: 3;
    padding: 55px 60px;
    width: 100%;
    padding-bottom: 0;
  }

  .form-contest__advantages {
    order: 4;
    padding: 55px 60px;
    width: 100%;
  }

  .form-contest__emotion {
    order: 5;
    padding: 55px 60px;
    padding-top: 40px;
    width: 100%;
  }

  .form-contest__sent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    order: 6;
  }

  .form-contest__title {
    text-align: center;
    padding: 0 32px;

    &--contact {
      display: block;
      margin: 0;
    }
  }

  .form-contest__general {
    margin-bottom: 60px;
  }
}

@media (min-width: @desktop-width) {
  .form-contest__text {
    width: 434px;
    height: 292px;
  }

  .form-contest__systems {
    padding: 0;
    width: 433px;
    height: 310px;
  }

  .form-contest__area-name {
    margin-bottom: 47px;
  }

  .form-contest__operation {
    margin-bottom: 34px;
  }

  .form-contest__wrapper {
    padding-left: 60px;
    padding-top: 40px;

    &--checkbox {
      display: flex;
      padding: 0;
    }
  }

  .form-contest__title {
    line-height: 30px;
  }

  .form-contest__flex {
    display: flex;
    justify-content: space-between;
  }

  .form-contest__input {
    &--checkbox {
      margin-right: 20px;
    }

    &--tel {
      width: 335px;
    }
  }

  .form-contest__info {
    width: 376px;
  }

  .form-contest__label--checkbox {
    padding: 0;
  }

  .form-contest__checkbox {
    margin-right: 59px;

    &--last {
      margin-right: 0;
    }
  }
}
