.form-contest {
  width:320px;
  margin: 0;
}
.form-contest fieldset {
  margin-bottom: 20px;
  border: 0 none;
  padding: 0;
}
.form-contest__label {
color: #d53561;
font-size: 14px;
line-height: 30px;
text-transform: uppercase;
}
.form-contest__input {
width: 278px;
padding: 23px 20px;
border: 1px solid #e5e5e5;
}
.form-contest__advantages {
  background-color: #f2f2f2;
}
.form-contest__title {
color:#d22856;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
padding-bottom: 20px;
}
.form-contest__label--checkbox {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
.form-contest__input--checkbox {
width: 38px;
height: 38px;
border: 1px solid #e5e5e5;
}
.form-contest__label--tel {
  color: #d53561;
font-size: 14px;
line-height: 30px;
text-transform: uppercase;
}
.form-contest__input--tel {
  width: 280px;
  padding: 25px 20px;
  border: 1px solid #e5e5e5;
}
.form-contest__system {
background-color: #f2f2f2;
}
.form-contest__label--radio {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
.form-contest__input--radio {
  width: 38px;
  height: 38px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
}
.form-contest__text {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  width: 278px;
  border: 1px solid #e5e5e5;
  padding: 20px;
  margin: 0;
}
.form-contest__toggle {
  padding: 10px 20px;
color: #ffffff;
font-size: 18px;
line-height: 30px;
font-weight: bold;
text-transform: uppercase;
background-color: #2aab6d;
width: 280px;
text-align: center;
border: none;
}
.form-contest__field {
  font-size: 14px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.form-contest__adress {
  padding: 0;
  margin: 0;
}
.form-contest__advantages {
  padding: 0;
  margin: 0;
}
.form-contest__title {
  text-align: center;
}
