.operating-system__list {
  padding: 37px;
  padding-bottom: 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.operating-system__link {
  display: block;
  padding: 10px;
  font-size: 0;

  &--ios {
    background-image: url("../img/logo-apple.svg");
    width: 47px;
    height: 56px;
    background-repeat: no-repeat;
  }

  &--windows {
    background-image: url("../img/logo-microsoft.svg");
    background-repeat: no-repeat;
    width: 44px;
    height: 41px;
  }

  &--android {
    background-image: url("../img/logo-android.svg");
    background-repeat: no-repeat;
    width: 43px;
    height: 47px;
  }
}

@media (min-width: @tablet-width) {
  .operating-system__list {
    justify-content: space-between;
    padding: 44px 40px;
    padding-bottom: 0;
    padding-right: 30px;
    width: 230px;
  }
}
@media (min-width: @desktop-width) {
  .operating-system__list {
    padding: 60px 40px;
    padding-bottom: 10px;
  }
}
