.page-header {
  background-color: rgb(0,0,0,0.3);
  border-top: 2px solid #485461;
}
.page-header__logo-image {
  padding: 20px;
  width: 75px;
  height: 22px;
}

.page-header__toggle {
  width: 50px;
  height:24px;
  &:active {
    background-image: url(../img/icon-menu-cross.svg);
    background-size: 24px 23px;
    background: no-repeat;
          }
  }
