.page-main {
  background-image: url('../img/bg-back-mobile@1x.png') 0px -66px no-repeat;
}

.page-main__text {
color: #000000;
font-size: 14px;
line-height: 30px;
margin-top: 50px;
text-align: center;
}
