.pricing-plans {
  display: block;
  background-color: #f2f2f2;
}

.pricing-plans__list {
  margin: 0;
  padding: 0;
}

.pricing-plans__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.pricing-plans__description {
  color: #000000;
  font-size: 14px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  padding: 20px;
  margin-bottom: -2px;
  position: relative;

  &::before {
    display: block;
    content: "";
    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-size: 31px 21px;
    width: 31px;
    height: 21px;
    position: absolute;
left: 230px;
  }
  &--close::before {
    background-image: url("../img/icon-no.svg");
    background-size: 26px 25px;
    width: 26px;
    height: 25px;
  }
}

.pricing-plans__block {
  text-transform: uppercase;
}

.pricing-plans__header {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  background-color: #283645;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 19px 0;
  position: relative;
}


  .pricing-plans__header--hit::before {
display: block;
content: "Хит";
font-size: 14px;
line-height: 30px;
font-weight: 300;
height: 0;
width: 42px;
border-bottom: 30px solid #d22856;
border-left:30px solid transparent;
border-right:30px solid transparent;
transform: rotate(-45deg);
position: absolute;
top: 10px;
  }


.pricing-plans__addition {
  display: none;
}

@media (min-width: @tablet-width) {
  .pricing-plans__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding: 20px 0;
  }

  .pricing-plans__addition {
    display: block;
  }

  .pricing-plans__description {
    font-size: 0;
    background-color: #ffffff;
    border: none;
    border-left: 2px solid #e5e5e5;
    border-top: 2px solid #e5e5e5;


    &--active {
      color: #000000;
      font-size: 14px;
      line-height: 30px;
      text-transform: none;
    }

    &::before {
      left: 60px;
    }

    &--active::before {
      display: none;
    }
  }

  .pricing-plans__header {
    padding: 15px 40px;
    font-size: 16px;
    line-height: 30px;

    &--none {
      background-color: transparent;
    }
  }
    .pricing-plans__header--hit::before {
      width: 26px;
      left: -22px;
      top: 5px;
    }



  .pricing-plans__price {
    font-size: 18px;
    line-height: 30px;
  }

  .pricing-plans__block--column {
    border-right: 2px solid #e5e5e5;
  }
}

@media (min-width: @desktop-width) {
  .pricing-plans__container {
    padding: 90px 0;
  }

  .pricing-plans__price {
    font-size: 24px;
  }

  .pricing-plans__header {
    font-size: 18px;
  }
    .pricing-plans__header--hit::before {
      width: 42px;
    left: -25px;
    top: 10px;
    }


  .pricing-plans__description::before {
    left: 100px;
  }

  .pricing-plans__description--active {
    font-size: 18px;
    padding: 20px 47px;
  }

  .pricing-plans__header {
    padding: 20px 68px;
  }
}
