.pricing-plans {
  display: block;
  background-color: #f2f2f2;
}

.pricing-plans__list {
  margin: 0;
  padding: 0;
}

.pricing-plans__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.pricing-plans__description {
  color: #000000;
  font-size: 14px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  padding: 20px;
  margin-bottom: -2px;
}

.pricing-plans__block {
  text-transform: uppercase;
}

.pricing-plans__header {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  background-color: #283645;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 19px 0;
}

.pricing-plans__addition {
  display: none;
}

@media (min-width: @tablet-width) {
  .pricing-plans__container {
    display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: flex-end;
padding: 20px 0;
  }

  .pricing-plans__addition {
    display: block;

  }
  .pricing-plans__description {
    font-size: 0;
    background-color: #ffffff;
    border: none;
    border-left: 2px solid #e5e5e5;
    border-top: 2px solid #e5e5e5;
  }
  .pricing-plans__description--active {
    color: #000000;
  font-size: 14px;
  line-height: 30px;
  text-transform: none;
  }
  .pricing-plans__header {
padding:15px 40px;
font-size: 16px;
line-height: 30px;
&--none {
  background-color: transparent;
}

  }
  .pricing-plans__price {
    font-size: 18px;
    line-height: 30px;
  }
  .pricing-plans__block--column {
    border-right: 2px solid #e5e5e5;
  }
}
