.promo {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background: no-repeat;
  background-size: 320px 395px;
  }
.promo__image {
  width: 235px;
  height: 296px;
  background: no-repeat;
}
