.promo {
  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-size: 320px 395px;
  }
.promo__image {
  width: 235px;
  height: 296px;
  background-repeat: no-repeat;
}
.promo__title {
  color: #ffffff;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 20px;
}
