.site-list__item a {
  display: block;
  padding: 25px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #283645;
  color:#ffffff;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  border-right: 2px solid #485461;
  border-bottom: 1px solid #000000;

  }
