.slider {
  cursor: pointer;
}

.slider button {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #b5b9be;
  border-radius: 50%;
  border: 3px solid transparent;
  background-clip: content-box;
}

.slider__toggle--active {
  border: 3px solid #283645;
  background-color: #ffffff;
  border-radius: 50%;
}

.slider__toggle {
  padding: 0 0;
}
