.social {
  margin: 40px 20px;
}

.social__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social__item {
  padding: 18px;
  width: 18px;
  height: 18px;
  border: 3px solid #eaebed;
  border-radius: 50%;
  margin: 8px;
}

.social__link {
  display: block;
  background-repeat: no-repeat;

  &--twiter {
    background-image: url('../img/icon-twitter.svg');
    width: 18px;
    height: 14px;
  }

  &--facebook {
    background-image: url('../img/icon-facebook.svg');
    background-repeat: no-repeat;
    width: 9px;
    height: 18px;
  }

  &--youtube {
    background-image: url('../img/icon-youtube.svg');
    background-repeat: no-repeat;
    width: 15px;
    height: 13px;
  }

}
