.download-app {
  background-color: #1d2631;
}
.download-app__toggle {
  padding: 20px 40px;
color: snow;
font-size: 10px;
line-height: 18px;
font-weight: bold;
border-radius: 50%;
border: 3px solid #ffffff;
}
.download-app__link--ios {
  background-image: url(img/logo-apple.svg);
}
.download-app__link--android {
  background-image: url(img/logo-android.svg);
}
.download-app__link--windows {
  background-image: url(img/logo-microsoft.svg);
}
.download-app__text {
color: #ffffff;
font-size: 8px;
line-height: 14px;
}
