.main-nav {
  background-color: #283645;
  width: 280px;
  padding: 20px;
}

.main-nav__toggle {
background-image: url(../img/icon-menu-burger.svg) no-repeat;
background-size: 50px 24px;
&:active {
  background-image: url(../img/icon-menu-cross.svg) no-repeat;
  background-size: 24px 23px;
        }
}
.main-nav__list {
  margin:0;
  padding: 0;
}

